body{
    /* background: rgb(227,16,178);
    background: linear-gradient(67deg, rgba(227,16,178,1) 0%, rgba(20,24,108,1) 100%);  
    background-image: url("https://images.pling.com/img/00/00/59/97/06/1504806/3b244522a849e9646b965d3475de1ee04516b8ab1ced72f9391b0891a793cc339611.jpg");
    */
    background-color: #393f5f;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;  
      /* align-items: center; */
}
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#error{
color: red;
font-size: larger;
font-weight: bolder;
font-style: italic;
}
.container{
    background: rgba(255, 255, 255,0.5);
    border-radius: 20px;
    width: 60vw;
}
.edDetails{  
    display: flex;
    flex-direction: column;
}
.container2 img{
    /* margin: 30px; */
    opacity: 0.8;
    width: 100%;

    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.newform{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px;
    margin: 25px;
    justify-content: center;
    align-items: center;
    /* border: 10px solid rgb(90, 65, 251); */   
}
h1{
font-size: 75px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
label{
    padding-top: 15px;
    padding-bottom: 5px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-style: italic;
}
.jobDetails{
    display: flex;
    flex-direction: column;
}
input{

    height: 20px;
}
#name,#phone,#email{
    border:2px solid #092047;
    border-top:1px;
    border-right: 1px;
    width:90%;
    border-radius: 10px;
}
#address, #psummary, #whistory,#education{
    border-radius: 10px;
    border:2px solid #092047;
    border-top: 1px;
    border-right: 1px;
    height: 100px; 
    width:90%;
}
button{
    padding: 12px;
    margin-top: 10px;
    background-color:#092047;
    color: white;
    border-radius: 20px;
    font-weight:bold;
}
@media screen and (max-width: 500px){
    .newform{
        padding: 50px;
    }


    .container{
        width: 100vw;
        /* margin-left: 90px; */
    }
}